---
---
@import "{{ site.theme }}";
.sidenav {
    height: auto; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    // position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    // top: 0; /* Stay at the top */
    margin-left: -210px;
    float: left;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .circular--portrait {
    position: relative;
    width: 180px;
    height: 200px;
    overflow: hidden;
    border-radius: 0%;
  }
  
  .circular--portrait img {
    width: 100%;
    height: auto;
    margin-top: -10px;
  }

  .sidebar-heading {
    @include relative-font-size(1.125);
    margin-bottom: $spacing-unit / 2;
  }